@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <strong>
        The Received Response Service 1
        <br/>
        @ViewBag.Response
    </strong>
</div>
<div>
    <strong>
        The Received Response Service 2
        <br/>
        @ViewBag.Response
    </strong>
</div>